{% extends "layout.html" %}
{% block body %}
  <div class="pure-menu pure-menu-horizontal">
    <a href="home" class="pure-menu-heading pure-menu-link">HOME</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="login" class="pure-menu-link">Get Started</a></li>
        <li class="pure-menu-item"><a href="about" class="pure-menu-link">About</a></li>
        <li class="pure-menu-item"><a href="contact" class="pure-menu-link">Contact</a></li>
    </ul>
  </div>
  <h2>About OneBase</h2>
  <p>OneBase is a database management tool, created to be an affordable inventory for small businesses. Created by a group UT Austin ECE students, OneBase is a web and mobile application
 made so that the end user can easily keep inventory by inputting manually or by mobile barcode scanning. Inferred by its name, OneBase is made up of one database, taking advantage of
 the Singleton design pattern.</p>
  
{% endblock %}
