{% extends "layout.html" %}
{% block body %}
  <div class="pure-menu pure-menu-horizontal">
    <a href="home" class="pure-menu-heading pure-menu-link">HOME</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="login" class="pure-menu-link">Get Started</a></li>
        <li class="pure-menu-item"><a href="about" class="pure-menu-link">About</a></li>
        <li class="pure-menu-item"><a href="contact" class="pure-menu-link">Contact</a></li>
    </ul>
  </div>
  <h2>Contact Us</h2>
  <p>If you have question, comments, concerns, or issues with OneBase, feel free to contact us at any of the following emails: 
  <br>
  <br>jdong42@gmail.com<br>npmetzger@utexas.edu
  <br>darrenhui484@gmail.com<br>kelsey_zhu@utexas.edu</p>
{% endblock %}



