{% extends "layout.html" %}
{% block body %}
  
    <div class="pure-menu pure-menu-horizontal" align="right">
    <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">Sort</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Alphabetical</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Most Recent</a></li>
                <li class="pure-menu-item" align="center"><a href="#" class="pure-menu-link">Count</a></li>
            </ul>
        </li>
    </ul>
    </div>
   {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>Title:
        <dd><input type="text" size="30" name="title">
        <dt>Text:
        <dd><textarea name="text" rows="5" cols="40"></textarea>
        <dd><input type="submit" value="Share">
      </dl>
    </form>
  {% endif %}
  <ul class="entries">
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
  {% else %}
    <li><em>No entries here so far.</em>
  {% endfor %}
  <br>
  <div align="right">
    <input class="button-success pure-button" type="button" value="Add Item">
    <input class="button-error pure-button" type="button" value="Remove Item">
  </div>
  </ul>
{% endblock %}
