
{% extends "layout.html" %}
{% block body %}

<!-- put buttons for databases here -->
  <h2>Select Category</h2>
  <br>
  <div align="center">
  <input class="choose pure-button" type="button" value="Category 1" margin-bottom: 20px">
  <input class="choose pure-button" type="button" value="Category 2">
  <br>
  <input class="choose pure-button" type="button" value="Category 3">
  <input class="choose pure-button" type="button" value="Category 4">
  <br>
  </div>

 <div align="right">
  <input class="button-success pure-button" type="button" value="Add Category">
  <input class="button-error pure-button" type="button" value="Remove Category">
 </div>
{% endblock %}
