
{% extends "layout.html" %}
{% block body %}

<!-- put buttons for databases here -->
  <h2>Select Category</h2>
  <br>
  <div align="center">
      {% for category in categories %}
      <a class="choose pure-button" type="button" value="{{category}}" href="inventory">
      {% endfor %}
  </div>

 <div align="right">
  <input class="button-success pure-button" type="button" value="Add Category">
  <input class="button-error pure-button" type="button" value="Remove Category">
 </div>
{% endblock %}
